{% extends 'baseUser.html.twig' %}

{% block title %}CLIENT |{{ parent() }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/ajouterProduits.css') }}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
 {% endblock %}

{% block main %}
    {% if is_granted('ROLE_USER') %}
    <div class="container marge-container">
        <div class=row">


            <!--**************************-->
            <div class="col-12 justify-content-center titre">
                <div>
                    <h4 class="">{{ titrePage }}</h4><h6>(nom de la societe, email et mot de passe et nom de la société uniquement modifiable par l'administrateur du site) *requis</h6>
                </div>
            </div>
        </div>

        <!--//*****************************-->
        <!--**************************-->
        <div class="row fondContainer form-group text-light mt-3">
            <div class="col-xl-3 justify-content-start mt-5">
                <div class="lobelo">
                    {{ form_start(registerForm, { 'attr' : { 'style': '', 'class': '' } }) }}
                    <p>{{ form_label(registerForm.nomDeLaSociete) }}</p>
                </div>
                <div class="mt-4 lobelo">
                    <p>{{ form_label(registerForm.nom) }}</p>
                </div>
                <div class="mt-5 lobelo">
                    <p>{{ form_label(registerForm.prenom) }}</p>
                </div>
                <div class="mt-4 lobelo">
                    <p>{{ form_label(registerForm.emailSociete) }}</p>
                </div>
            </div>
            <div class="col-xl-3 justify-content-end mt-5">
                {{ form_help(registerForm.nomDeLaSociete) }}{{ form_errors(registerForm.nomDeLaSociete) }}
                {{ form_help(registerForm.emailSociete) }}{{ form_errors(registerForm.emailSociete) }}
                <div><p>{{ form_widget(registerForm.nomDeLaSociete,{'readonly': 'true'}) }}</p></div>
                <div><p>{{ form_widget(registerForm.nom) }}</p></div>
                <div><p>{{ form_widget(registerForm.prenom) }}</p></div>
                <div><p>{{ form_widget(registerForm.emailSociete) }}</p></div>

            </div>
            <div class="col-xl-3 justify-content-end mt-5">
                <div class="lobelo">
                    <p>{{ form_label(registerForm.emailPerso) }}</p>
                </div>
                <div class="mt-4 lobelo">
                    <p>{{ form_label(registerForm.telephone_societe) }}</p>
                </div>
                <div class="mt-5 lobelo">
                    {{ form_help(registerForm.telephonePerso) }}{{ form_errors(registerForm.telephonePerso) }}
                    <p>{{ form_label(registerForm.telephonePerso) }}</p>
                </div>
                <div>

                    <p></p>
                </div>
            </div>
            <div class="col-xl-3 justify-content-end mt-5">
                {{ form_help(registerForm.emailPerso) }}{{ form_errors(registerForm.emailPerso) }}
                {{ form_help(registerForm.telephone_societe) }}{{ form_errors(registerForm.telephone_societe) }}
                <div><p>{{ form_widget(registerForm.emailPerso, { 'required': false }) }}</p></div>
                <div><p>{{ form_widget(registerForm.telephone_societe) }}</p></div>
                <div><p>{{ form_widget(registerForm.telephonePerso, { 'required': false }) }}</p></div>
                <div><p></p></div>

            </div>
        </div> <!--fin row********************************-->
        <div class="row">
            <div class="col-xl-12 justify-content-center mt-6 text-center">

                <div>
                    <button class="btn btn-outline-primary" type="submit">valider</button>
                    <a class="btn btn-outline-primary" href=javascript:history.go(-1)>Retour</a>
                </div>
                {{ form_end(registerForm) }}

            </div>
        </div>

    </div><!--fin de container-->
{% endif %}
{% endblock %}

