{% extends 'base.html.twig' %}

{% block title %}IDENTIFICATION|{{ parent() }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
 {% endblock %}

{% block header %}
    <a href="{{ path('home') }}" class="logo">
        <h3 class="back-css" ><i class="far fa-arrow-alt-circle-left"></i></h3>
        <!--retour home-->
    </a>
{% endblock %}
{% block main %}
    <div class="container" >
        <div class="row">
            <div class="col-xl-7  mx-auto" >
                <div class="card card-signin my-5 fondContainer">
                    <div class="card-body">
                        <a href="{{ path('home') }}" class="logo">
                            <h3 class="titrelogoseatrader" ><i class="fas fa-water logoseatrader" ></i>SEATRADER</h3>
                            <!--logo seatrader-->
                        </a>
                        <h5 class="card-title text-center">Identification</h5>
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="flash flash-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                         {% if role==['ROLE_USER'] or phase==3  %}
                            <div class="form-signin mb-2" >
                                <form class="form-label-group">
                                    <input class="form-control" type="number" name="calculPassword" id="calculPassword" oninput="yz()" required>
                                    <label for="calculPassword">résultat de ({{ nombre2 }}X{{ nombre1 }})-{{ nombre2 }}</label>
                                </form>
                            </div>
                         {% endif %}
                        {% if role==['ROLE_ADMIN','ROLE_USER'] %}
                            <div class="form-signin mb-2" >
                                <form class="form-label-group">
                                    <input class="form-control" type="number" name="codePassword" id="codePassword" oninput="ab()" required>
                                    <label for="codePassword">Code envoyé sur votre email</label>
                                </form>
                            </div>
                        {% endif %}
                        <form class="form-signin" method="post" id="myForm">
                            <div class="form-label-group">
                                {# read and display all flash messages #}
                                {% for label, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="bg-danger text-danger">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'error') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3 text-warning">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">DECONNEXION</a>
                                    </div>
                                {% endif %}


                                <input  class="" id="nomDNS"  type="text"  value="{{ nomDNS }}" name="nomDeLaSociete" id="inputNomDeLaSociete" class="form-control" required >
                                <label for="inputNomDeLaSociete">Nom De La Société Identifiant</label>
                                <a class="text-center btn btn-outline-light mb-1" onclick="ad()">Entrer et valider mon identifiant...</a>

                            </div>

                            <div class="form-label-group">

                                <input class="form-control bg-input"  type="password" name="password" id="inputPassword" required>
                                <label for="inputPassword"> MOT DE PASSE<i class="far fa-eye text-primary" onmouseover="voir();" onmouseout="cache();"></i></label>


                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                            </div>



                            {# <div class="checkbox mb-3 custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" name="_remember_me">
                                <label class="custom-control-label" for="customCheck1">Se souvenir de moi</label>
                            </div>#}
                            {% if role[0]!=null and role[0]=='ROLE_ADMIN' %}
                            <button id="boutonValide" style="visibility: hidden;" class="btn btn-lg btn-light btn-block text-uppercase bg-success" type="submit">valider</button>
                            {% endif %}
                            {% if (role[0]!=null and role[0]=='ROLE_USER') or (phase==3) %}
                                <button id="boutonValider" style="visibility: hidden;" class="btn btn-lg btn-light btn-block text-uppercase bg-success" type="submit">valider</button>
                            {% endif %}
                        </form>
                        {% if role==['ROLE_USER'] or phase==3 %}
                            <div class="" >
                                <div class="ml-3">
                                    <label for="robot"></label><input type="checkbox" class="text-white" id="robot" name="robot" onclick="ac();"><label class="text-light" >Je ne suis pas un robot </label>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.addEventListener("keydown", function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        }, true); // "true" => phase de capture
        function ab() {
            var nombr={{ nombre }};
            var nb = document.getElementById('codePassword').value;
                if (  nb==nombr ) {
                    document.getElementById('boutonValide').style.visibility = 'visible';
                } else {
                    document.getElementById('boutonValide').style.visibility = 'hidden';
                }


        }

        function ac() {
            var nombr3={{ nombre3 }};
            if (document.getElementById("robot").checked==false) {
                document.getElementById('boutonValider').style.visibility = 'hidden';}
            if (document.getElementById("robot").checked==true && document.getElementById('calculPassword').value==nombr3) {
                document.getElementById('boutonValider').style.visibility = 'visible';}

        }

        function yz() {
            var nombr3={{ nombre3 }};
            if ((document.getElementById("robot").checked)==false || (document.getElementById('calculPassword').value)!=nombr3) {
                document.getElementById('boutonValider').style.visibility = 'hidden';}
            if ((document.getElementById("robot").checked)==true && (document.getElementById('calculPassword').value)==nombr3) {
                document.getElementById('boutonValider').style.visibility = 'visible';}

        }
        function  ad(){
            nomDNS_js=document.getElementById('nomDNS').value;
            if ((nomDNS_js==null)) {nomDNS_js="vide!!!";}
            if ((nomDNS_js=="")) {nomDNS_js="vide!!!";}

            url="{{ path('login-trouve',{'identifiant':'nomDNS' }) }}".replace('nomDNS',nomDNS_js);
            window.location.href=url;
        }
        function voir() {
            document.getElementById("inputPassword").type="text";
        }
        function cache() {
            document.getElementById("inputPassword").type="password";
        }
    </script>

{% endblock %}
