{% extends 'base.html.twig' %}

{% block title %}IDENTIFICATION|{{ parent() }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
 {% endblock %}

{% block header %}
    <a href="{{ path('home') }}" class="logo">
        <h3 class="back-css" ><i class="far fa-arrow-alt-circle-left"></i></h3>
        <!--retour home-->
    </a>
{% endblock %}
{% block main %}
    <div class="container" >
        <div class="row">
            <div class="col-xl-7  mx-auto" >
                <div class="card card-signin my-5 fondContainer">
                    <div class="card-body">
                        <a href="{{ path('home') }}" class="logo">
                            <h3 class="titrelogoseatrader" ><i class="fas fa-water logoseatrader" ></i>SEATRADER</h3>
                            <!--logo seatrader-->
                        </a>
                        <h5 class="card-title text-center">Identification</h5>
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="flash flash-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="form-signin" >
                        <div class="form-label-group">
                            {{ nombre }}

                            <input class="form-control" type="password" name="code" id="codePassword" oninput="ab()" required>
                            <label for="codePassword">Code envoyé sur email</label>

                        </div>
                        </div>
                        <form class="form-signin" method="post">
                            <div class="form-label-group">
                                {# read and display all flash messages #}
                                {% for label, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="bg-danger text-danger">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'error') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3 text-warning">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}
                                <input  class="form-control" type="text" value="{{ nomDLS }}" name="nomDeLaSociete" id="inputNomDeLaSociete" class="form-control" required autofocus readonly>
                                <label for="inputNomDeLaSociete">Nom De La Société Identifiant</label>
                            </div>

                            <div class="form-label-group">

                                <input class="form-control" type="password" name="password" id="inputPassword" required>
                                <label for="inputPassword">MOT DE PASSE</label>

                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                            </div>


                            {# <div class="checkbox mb-3 custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" name="_remember_me">
                                <label class="custom-control-label" for="customCheck1">Se souvenir de moi</label>
                            </div>#}
                            <button id="boutonValider" class="btn btn-lg btn-success btn-block text-uppercase" type="submit" style="visibility: hidden;">valider</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function ab() {
            var nb=document.getElementById('codePassword').value
            if (nb=={{ nombre }}) {
                document.getElementById('boutonValider').style.visibility='visible';

            } else {                document.getElementById('boutonValider').style.visibility='hidden';
            }
        }
    </script>
{% endblock %}
