<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/aa652281aa.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
    <title>SEATRADER APPLICATION</title>
    <!--

    site sea trader

    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-awesome.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/css/seatrader-css.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/css/owl-carousel.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/css/lightbox.css') }}">

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky" >
    <div id="CSC" class="bg-info pt-5 pb-5 justify-content-center">
        <h6 class="text-white pt-2 pb-2 text-center"> Notre site n'utilise pas de cookies pour fonctionner. Cliquez sur 'ok' pour continuer. <button class="bg-success text-white rounded" onclick="hider();">OK</button></h6>
    </div>
    <div class="container" id="cacheBarCookie">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ path('home') }}" class="logo">
                        <h3 class="titrelogoseatrader" ><i class="fas fa-water logoseatrader" ></i>SEATRADER<p class="petitelignelogoseatrader">Commerce de gros de Produits de la Mer Frais & Surgelés</p></h3>
                        <!--logo seatrader-->
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Accueil</a></li>
                        <li class="scroll-to-section"><a href="#about">Présentation</a></li>

                        <!--
                            <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                                <ul>
                                    <li><a href="#">Drop Down Page 1</a></li>
                                    <li><a href="#">Drop Down Page 2</a></li>
                                    <li><a href="#">Drop Down Page 3</a></li>
                                </ul>
                            </li>
                        -->
                        <li class="scroll-to-section"><a href="#offers">Produits</a></li>
                        <li class="scroll-to-section"><a href="#chefs">Logistique</a></li>
                        <li class="scroll-to-section"><a href="#nosOpportunites">Nos Opportunités</a></li>
                        <li class="scroll-to-section"><a href="#reservation">Contact</a></li>
                        <li class="scroll-to-section"><a href="{{ path('app_login') }}" title="SE CONNECTER"><i class="fas fa-power-off"></i></a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header  End ***** -->

<!-- ***** accueil Start ***** -->
<div id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-content">
                    <div class="inner-content">
                        <h6 class="titrelogoseatrader" ><i class="fas fa-water logoseatrader" ></i>SEATRADER</h6>
                        <h1 class="h5">SEATRADER</h1>
                        <h1 class="h6">GROSSISTE PRODUITS DE LA MER</h1>
                        <div class="main-white-button scroll-to-section">
                            <a href="#reservation">Contactez-nous...</a>
                            {% for label, messages in app.flashes %}
                                {% for message in messages %}
                                    <div class="text-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="main-banner header-text">
                    <div class="Modern-Slider">
                        <!-- Item -->
                        <div class="item">
                            <div class="img-fill" >

                                <img src="{{ asset('assets/images/slide-01.jpg') }}" alt="banc de poisson">
                            </div>
                        </div>
                        <!-- // Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="img-fill">
                                <img src="{{ asset('assets/images/slide-02.jpg') }}" alt="caisse de maquereau">
                            </div>
                        </div>
                        <!-- // Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="img-fill">
                                <img src="{{ asset('assets/images/slide-03.jpg') }}" alt="port de peche">
                            </div>
                        </div>

                        <!-- // Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** accueil End ***** -->

<!-- ***** presentation Starts ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>A propos</h6>
                        <h2>Situé au cœur du premier port de pêche français Boulogne sur Mer</h2>
                    </div>
                    <p class="text-justify">Fort d’une expérience de plus de 20 ans , le dépôt de l’entreprise est au cœur du premier port de pêche français Boulogne sur Mer ( Zone Capécure) .Elle se situe stratégiquement au carrefour des apports de Norvège, Suède, Islande, Danemark, Pologne ,Ecosse, Royaume Uni, Irlande, Pays bas.<br>
                        Tous nos partenaires répondent aux normes européennes ( HACCP) et aussi à d’autres labels (Label rouge, MSC, etc).<br>
                        Toujours à l’écoute de vos besoins, l’entreprise répond avec toujours l’exigence en terme de qualité/ prix ,  de régularité de l’approvisionnement ,  du respect des hommes et de l’environnement.
                    </p>
                    <div class="row">
                        <div class="col-4" >
                            <img src="{{ asset('assets/images/about-thumb-01.jpg') }}" alt="label rouge">
                        </div>
                        <div class="col-4">
                            <img src="{{ asset('assets/images/about-thumb-02.jpg') }}" alt="chalutier">
                        </div>
                        <div class="col-4" >
                            <img src="{{ asset('assets/images/about-thumb-03.jpg') }}" alt="haccp">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-content">
                    <div class="thumb" style="border-width: 4px; border-color:cadetblue; border-style: solid;">
                        <img src="{{ asset('assets/images/about-video-bg.jpg') }}" alt="carte des apports de peche de boulogne sur mer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** presentation Ends ***** -->
<!-- ***** produits Starts ***** -->
<section class="section" id="offers">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 text-center">
                <div class="section-heading">
                    <h6>SEATRADER</h6>
                    <h2>Nos Différents Produits</h2>
                    <p>Approvisionnements réguliers sur les cotes atlantiques et méditerranéennes</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row" id="tabs">
                    <div class="col-lg-12">
                        <div class="heading-tabs">
                            <div class="row">
                                <div class="col-lg-6 offset-lg-3">
                                    <ul>
                                        <li><a href='#tabs-1'><img src="{{ asset('assets/images/tab-icon-01.png') }}" alt="">PRODUITS FRAIS</a></li>
                                        <li><a href='#tabs-2'><img src="{{ asset('assets/images/tab-icon-02.png') }}" alt="">PRODUITS TRANSFORMES</a></li>
                                        <li><a href='#tabs-3'><img src="{{ asset('assets/images/tab-icon-03.png') }}" alt="">PRODUITS SURGELES</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <section class='tabs-content'>
                            <article id='tabs-1'>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="left-list">
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-01.png') }}" alt="">
                                                        <h3>Poissons entiers, filets, dos...</h3>
                                                        <p>Mer, Eau douce, Exotiques</p>
                                                        <div class="price">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-02.png') }}" alt="">
                                                        <h3>Filet de Perche Français</h3><br><br>
                                                        <p>Collaboration avec un élevage francais</p>
                                                        <div class="price">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-03.png') }}" alt="">
                                                        <h3>Coquillages...</h3>
                                                        <p>palourdes, coques, praires, moules...etc</p>
                                                        <div class="price">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="right-list">
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-04.png') }}" alt="">
                                                        <h3>Crustacés</h3><hr><br><br>
                                                        <p>Cuits/Crues, tous les calibres et origines (sauvage/élevage)</p>
                                                        <div class="price">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-05.png') }}" alt="">
                                                        <h3>Crustacés Vivants</h3><hr>
                                                        <p>homards européens/canadiens, tourteaux, langoustes, langoustines,...etc</p>
                                                        <div class="price">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-06.png') }}" alt="">
                                                        <h3>Huitres</h3>
                                                        <p>les différents bassins français...etc</p>
                                                        <div class="price">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article id='tabs-2'>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="left-list">
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-icon-02.png') }}" alt="">
                                                        <h3>Les Produits élaborés</h3><hr>
                                                        <p>paupiettes, rôti de saumon St-Jacques, boudin de poisson,...etc</p>
                                                        <div class="price">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-08.png') }}" alt="">
                                                        <h3>Le Saumon fumé </h3><br>
                                                        <p>élevage/bio/sauvage, à trancher, prétranché</p>
                                                        <div class="price">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-09.png') }}" alt="">
                                                        <h3>Salaisons traditionnelles</h3><br>
                                                        <p>haddock,bouffis,kippers...</p>
                                                        <div class="price">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="right-list">
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-10.png') }}" alt="morue salée">
                                                        <h3>Morue salée</h3>
                                                        <p>filet, pavé, entière, sèchée,...etc</p>
                                                        <div class="price">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-11.png') }}" alt="terrine de poisson">
                                                        <h3>Produits cuisinés</h3><br><br><br>
                                                        <p>paëlla, terrine de poisson, salades,...etc</p>
                                                        <div class="price">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article id='tabs-3'>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="left-list">
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-12.png') }}" alt="langouste">
                                                        <h3>Queues de langouste surgelées</h3>
                                                        <p>entière ou en demie</p>
                                                        <div class="price">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-13.png') }}" alt="langoustine surgelée">
                                                        <h3>Langoustines crues surgelées</h3>
                                                        <p>différents calibres...</p>
                                                        <div class="price">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-14.png') }}" alt="pince de crabe surgelé">
                                                        <h3>Pinces de Crabe cuites surgelées</h3>
                                                        <p>différents calibres...</p>
                                                        <div class="price">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="right-list">
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-15.png') }}" alt="king crabe">
                                                        <h3>King crabe surgelé</h3>
                                                        <p>pinces, pattes,...etc</p>
                                                        <div class="price">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="tab-item">
                                                        <img src="{{ asset('assets/images/tab-item-01.png') }}" alt="cabillaud surgelé">
                                                        <h3>Filets de poisson surgelés</h3>
                                                        <p>cabillaud, ...etc</p>
                                                        <div class="price">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="tab-item">

                                                        <div class="price" >

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div >
</section >
<!-- ***** produits Ends ***** -->

<!-- ***** Menu nos opportunités ***** -->

 <div  class="container" id="nosOpportunites">

        <div class="col-12 justify-content-center">
            <div class="row">
                <div class="justify-content-center section-heading">
                    <div><h6>Nos Opportunités </h6></div>
                    <div><h2>Retrouvez chaque jour notre sélection</h2></div>
                </div>
            </div>

            <div class="row justify-content-around">

                    {%  for miseEa in miseEnAvant %}
                        <div  class="card-miseEn-Avant" >
                            {% if miseEa.raison.raison=="PAVILLON FRANCE" %}<div style="background: linear-gradient(to right,blue, white,red);"><h4 class="raison" >{{ miseEa.raison.raison }}</h4></div>{% else %}<div style="background-color: {{ miseEa.couleur }}"><h4 class="raison" >{{ miseEa.raison.raison }}</h4></div>{% endif %}
                            <div class="leproduit">
                            {# <img src="{{ asset('assets/images/imageProduit/filet-cabillaud.jpg') }}" alt="cabillaud filet">#}
                                {% if miseEa.produitMiseEnAvant.brochureFilename!=null %}
                                <img style="width: 260px; height: 144px" src="{{ asset('uploads/brochures/' ~ miseEa.produitMiseEnAvant.brochureFilename) }}" alt="photo du produit">
                                {% else %}
                                    <img style="width: 260px; height: 144px" src="{{ asset('assets/images/slide-01.jpg') }}" alt="photo banc de poissons">
                                {% endif %}
                            </div>
                                <p class="livraisonProduit">livraison prévue le {{ miseEa.dateLivraisonMiseEnAvant |date('d-m-Y') }}</p>
                        <div class="align-items-center">
                        <h4 class="prix" >prix: {{ miseEa.prix }} €/kg</h4>
                        </div>
                            <h3 class="text-center">{{ miseEa.produitMiseEnAvant.nomProduit }}</h3>
                            <p class="text-center">{{ miseEa.origine }}</p>
                            <p class="text-center">colis par {{ miseEa.colisage }} {{ miseEa.produitMiseEnAvant.pieceOuKg }}</p>
                        </div>
                            {# % endif %#}

                    {% endfor %}

            </div>

        </div>

  </div>


<!-- ***** Menu nos opportunités Ends ***** -->

<!-- ***** logistique ***** -->
<section class="section" id="chefs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 text-center">
                <div class="section-heading">
                    <h6>LOGISTIQUE</h6>
                    <h5>La livraison des produits s’effectue en partenariat avec les groupes STEF et Delanchy.</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="chef-item">
                    <div class="thumb">

                        <img src="{{ asset('') }}assets/images/logis-01.jpg" alt="stef">
                    </div>
                    <div class="down-content">
                        <h4>STEFF</h4>
                        <span>transporteur</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="chef-item cadrelogistique">
                    <div class="thumb">

                        <p>
                            les livraisons
                        </p>
                        <img src="{{ asset('assets/images/logis-02.jpg') }}" alt="">
                    </div>
                    <div class="down-content textelogistique">
                        <h6>LA LIVRAISON S'EFFECTUE EN A pour B SUR TOUTE LA FRANCE<br></h6>
                        <h6><br>LA LIVRAISON S'EFFECTUE EN A pour C POUR LES PAYS DE LA CEE</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="chef-item">
                    <div class="thumb">


                        <img src="{{ asset('assets/images/logis-03.jpg') }}" alt="delanchy">
                    </div>
                    <div class="down-content">
                        <h4>DELANCHY</h4>
                        <span>transporteur</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Chefs Area Ends ***** -->

<!-- ***** Reservation Us Area Starts ***** -->
<section class="section" id="reservation">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>Contactez nous</h6>
                        <h2>Coordonnées:</h2>
                    </div>
                    <p>Service administratif et comptabilité: 10 Rue Des Flots 66000 Perpignan
                    <br>Entrepot Boulogne-Sur-Mer(62) Zone Capécure (Latitude 66)</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="phone">
                                <i class="fa fa-phone"></i>
                                <h4>téléphone</h4>
                                <span><a href="#">(0033) 09.67.38.66.53</a><br><a href="#">fax (0033) 09.72.12.15.98</a></span><br>
                                <span><a href="#">mobile: 0033 06.60.48.16.17</a><br></span>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="message">
                                <i class="fa fa-envelope"></i>
                                <h4>Emails</h4>
                                <span><a href="#">contact@seatrader.eu</a><br><a href="#"></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-form">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Formulaire de contact</h4>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    {{ form_start(formulaireForm, { 'attr' : { 'style': '', 'class': '' } }) }}
                                    {{ form_label(formulaireForm.nom) }}
                                    {{ form_widget(formulaireForm.nom,{'attr':{'placeholder':'Votre nom*','type':'text'}}) }}

                                    {# <label for="name"></label><input name="name" type="text" id="name" placeholder="Votre nom*" required="">#}
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                   {#  <label for="email"></label> #}
                                    {{ form_label(formulaireForm.email) }}
                                    {{ form_widget(formulaireForm.email,{'attr':{'placeholder':'Votre Email*','pattern':'[^ @]*@[^ @]*','type':'text'}}) }}
                                    {# <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Votre Email*" required="">#}
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    {{ form_label(formulaireForm.telephone) }}
                                    {{ form_widget(formulaireForm.telephone,{'attr':{'placeholder':'Numero de téléphone*','type':'text'}}) }}
                                    {# <label for="phone"></label><input name="phone" type="text" id="phone" placeholder="Numero de téléphone*" required="">#}
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    {{ form_label(formulaireForm.message) }}
                                    {{ form_widget(formulaireForm.message,{'attr':{'placeholder':'Message*','row':'6','type':'text'}}) }}
                                    {# <label for="message"></label><textarea name="message" rows="6" id="message" placeholder="Message*" required=""></textarea>#}
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-button-icon">Envoyer</button>
                                    {{ form_end(formulaireForm) }}
                                    <p class="text-dark">*requis</p>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Reservation Area Ends ***** -->



<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <a href="{{ path('home') }}">
                    <p class="text-white">Mentions légales</p>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="logo">

                    <a href="{{ path('home') }}">
                        <h3 class="titrelogoseatrader" ><i class="fas fa-water logoseatrader" ></i>SEATRADER<p class="petitelignelogoseatrader">Commerce  de  gros de Produits de la Mer Frais & Surgelés</p></h3>
                    </a><!--<img src="assets/images/white-logo.png" alt=""></a>-->
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="left-text-content">
                    <p>© Copyright Seatrader Version 1.2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ asset('assets/js/jquery-2.1.0.min.js') }}"></script>

<!-- Bootstrap -->
<script src="{{ asset('assets/js/popper.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

<!-- Plugins -->
<script src="{{ asset('assets/js/owl-carousel.js') }}"></script>
<script src="{{ asset('assets/js/accordions.js') }}"></script>
<script src="{{ asset('assets/js/datepicker.js') }}"></script>
<script src="{{ asset('assets/js/scrollreveal.min.js') }}"></script>
<script src="{{ asset('assets/js/waypoints.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.counterup.min.js') }}"></script>
<script src="{{ asset('assets/js/imgfix.min.js') }}"></script>
<script src="{{ asset('assets/js/slick.js') }}"></script>
<script src="{{ asset('assets/js/lightbox.js') }}"></script>
<script src="{{ asset('assets/js/isotope.js') }}"></script>

<!-- Global Init -->
<script src="{{ asset('assets/js/custom.js') }}"></script>
<script>

    $(function() {
        var selectedClass = "";
        $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
                $("."+selectedClass).fadeIn();
                $("#portfolio").fadeTo(50, 1);
            }, 500);

        });
    });

    function hider(){
        document.getElementById("CSC").style="display: none;"
        document.getElementById("cacheBarCookie").style="visibility: visible;"
    }
</script>
</body>
</html>
