{% extends 'baseAdmin.html.twig' %}

{% block title %}PRODUITS|{{ parent() }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/ajouterProduits.css') }}">
 {% endblock %}

{% block main %}

    <div class="container marge-container">
        <div class=row">

            <!--*****************************-->
            <div class="col-12  colonne-famille" >

                <div class="row justify-content-around" >
                    <h4>Les familles</h4>

               {#  <div class="justify-content-around">#}
                    {%  for famille in familleProduit %}
                        <div class="surCadre">
                    <h6 class="nom-famille">{{ famille.nomFamille }}</h6>
                        </div>
                    {% endfor %}
                {# </div>#}
                </div>

            </div>
            <!--//****************************-->
            <!--**************************-->
            <div class="col-12 justify-content-center titre">
                <div>
                <h2 class="">Ajouter des  Produits <i class="fas fa-fish"></i></h2>
                </div>
            </div>
        </div>

        <!--//*****************************-->
        <div class="row justify-content-around">
            {%  for famille in familleProduit %}

                <div class="col-3  colonne-famPdro" >
                    <div class="">

                        <div>
                            <h6 style="text-align:center; color:white;">{{ famille.nomFamille }}</h6>
                            {%  for prod in famille.listingProduits %}

                                <p class="colonne-prod">{{ prod.nomProduit }}  <a  href=" {{ path('supprimer_produit',{'id':prod.id}) }}"><i class="fas fa-trash"></i></a></p>


                                {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!--fin du main*************-->
        <!--**************************-->
        <div class="row">
            <div class="col-12 justify-content-center formulaireBlue">
                {{ form_start(produitForm, { 'attr' : { 'style': '', 'class': 'caseForm' } }) }}
                <div class="caseform">
                    {{ form_help(produitForm.nomProduit) }}{{ form_errors(produitForm.nomProduit) }}
                    {{ form_label(produitForm.nomProduit) }}: {{ form_widget(produitForm.nomProduit) }}
                    {{ form_label(produitForm.famille) }}: {{ form_widget(produitForm.famille) }}
                {{ form_label(produitForm.pieceOuKg) }}: {{ form_widget(produitForm.pieceOuKg) }}

                    <button class="btn-grad" type="submit">valider</button>
                    {{ form_end(produitForm) }}
                </div>
            </div>
        </div>
        <!--fin du main*************-->


    </div><!--fin de container-->

{% endblock %}