{% extends 'baseAdmin.html.twig' %}

{% block title %}PRODUITS|{{ parent() }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/ajouterProduits.css') }}">
 {% endblock %}

{% block main %}

    <div class="container">
    <!--**************************-->
        <div class="col-12 justify-content-center">
            <div class="row justify-content-center">
                <h2>Les Produits</h2>
            </div>
        </div>
    <!--fin du main*************-->
        <!--**************************-->
        <div class="col-2 justify-content-center">
            <div class="row justify-content-center colonne-famille">
                <h5>Les familles</h5>
                {%  for famille in familleProduit %}
                <h6>{{ famille.nomFamille }}</h6>
                {% endfor %}
            </div>
        </div>
        <!--fin du main*************-->
        <!--**************************-->
        <div class="col-10 justify-content-center">
            <div class="row justify-content-center">

                {%  for famille in familleProduit %}
                    <div>
                    <h6>{{ famille.nomFamille }}</h6>
                        {%  for prod in produit %}
                        {% if famille.id==prod.famille.id %}
                            <p>{{ prod.nomProduit }}</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <!--fin du main*************-->


    </div><!--fin de container-->

{% endblock %}