{% extends 'baseAdmin.html.twig' %}

{% block title %}FAMILLES |{{ parent() }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/ajouterProduits.css') }}">
 {% endblock %}

{% block main %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container marge-container">
            <div class=row">


                <!--**************************-->
                <div class="col-xl-12 justify-content-center titre">
                    <div>
                        <h2 class="">Ajouter des  Familles <i class="fas fa-fish"></i></h2>
                        {# read and display all flash messages #}
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="text-warning">
                                    {{ message }}
                                    {% if message=="Une erreur s'est produite pendant la suppression." %}
                                        <script type="text/javascript">
                                            setTimeout(function(){
                                                window.location.href="http://localhost/seatrader-appli/public/logout";},2000);
                                        </script>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!--//*****************************-->
            <div class="row justify-content-around">
                {%  for familly in famille %}

                    <div class="col-xl-3  colonne-famPdro" >
                        <div class="">

                            <div>
                                <h6 class="css-CaseFamille">{{ familly.nomFamille }}
                                    <a  class="poubelle-lien" href=" {{ path('supprimer_famille',{'id':familly.id}) }}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!--fin du main*************-->
            <!--**************************-->
            <div class="row">
                <div class="col-xl-12 justify-content-center formulaireBlue">
                    {{ form_start(familleForm, { 'attr' : { 'style': '', 'class': 'caseForm' } }) }}
                    <div class="caseform">
                        {{ form_help(familleForm.nomFamille) }}{{ form_errors(familleForm.nomFamille) }}
                        {{ form_label(familleForm.nomFamille) }}: {{ form_widget(familleForm.nomFamille) }}


                        <button class="btn-grad" type="submit">valider</button>
                        {{ form_end(familleForm) }}
                    </div>
                </div>
            </div>
            <!--fin du main*************-->


        </div><!--fin de container-->
    {% endif %}
{% endblock %}
