{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin Réception Commande |{{ parent() }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/ajouterProduits.css') }}">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
 {% endblock %}

{% block main %}
    <div class="container marge-container">
        <div class=row">
            <div class="col-xl-12 justify-content-center titre" data-aos="flip-left">
                <div>
                    <h4 class="">GESTION DES COMMANDES<i class="fas fa-fish"></i></h4>
                    {# read and display all flash messages #}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="text-warning">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if commandesEnvoyees|length>0 %}
        <div class="row">
            <div class="col-xl-12 justify-content-center text-center mt-3 p-6 ">
                <!--si il y a des commandes-->
                <div class="jumbotron bg-danger col-xl-12">
                    <h1 class="ml1">
                        <span class="text-wrapper">
                        <span class="line line1"></span>
                        <span class="letters">-ALERTE-</span>
                        <span class="line line2"></span>
                        </span>
                    </h1>
                    <p class="lead">Vous avez reçu de nouvelles commandes.</p>
                    <hr class="my-4">
                    <p></p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('voir-cde-admin',{'statut': 'commandesEnvoyee' }) }}" role="button">Voir les commandes({{ commandesEnvoyees|length }}) ...</a>
                    </p>
                </div>
                <!--************************-->

            </div>
        </div>
        {% endif %}
        <div class="row justify-content-around mt-3 p-6 ">
            {% if commandesEnvoyees|length==0 %}
                <div class="card col-xl-4 mt-1" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('assets/images/calmePlat.jpg') }}" alt="photo d'ocean plat">
                    <div class="card-body bg-danger">
                        <h4 class="card-text text-center">pas de nouvelles commandes</h4>
                    </div>
                </div>
            {% endif %}
                <div class="card col-xl-4 mt-1" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('assets/images/cdeVue.jpg') }}" alt="photo debarque pêche">
                    <div class="card-body bg-warning text-center">
                        <h6 class="card-text">Commande(s) réceptionnée(s) et vues</h6>
                            {% if commandesReceptionnee|length!=0 %}
                            <a class="btn btn-primary mt-1" href="{{ path('voir-cde-admin',{'statut': 'commandesReceptionnee' }) }}" role="button">
                            {% endif %}
                            <h5 class="card-text">nombre de commande(s): {{ commandesReceptionnee|length }}</h5>
                            {% if commandesReceptionnee|length!=0 %}
                            </a>
                        {% endif %}
                    </div>
                </div>
                    <!--*****************************-->
                <div class="card col-xl-4 mt-1" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('assets/images/cdeVueTraitee.jpg') }}" alt="photo">
                    <div class="card-body bg-success text-center">
                        <h6 class="card-text">Commande(s) réceptionnée(s) et traitée(s)</h6>
                            {% if commandesTraitee|length!=0 %}
                            <a class="btn btn-primary mt-1" href="{{ path('voir-cde-admin',{'statut': 'commandesTraitee' }) }}">
                            {% endif %}
                            <h5 class="card-text">nombre de commande(s): {{ commandesTraitee|length }}</h5>
                            {% if commandesTraitee|length!=0 %}
                             </a>
                            {% endif %}
                    </div>
                </div>
                    <!--*****************************-->
            <div class="card col-xl-4 mt-1" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('assets/images/archives.jpg') }}" alt="photo">
                    <div class="card-body bg-secondary text-center">
                        <h6 class="card-text">Commande(s) Archivée(s)</h6>
                        {% if commandesArchivee|length!=0 %}
                        <a class="btn btn-primary mt-1" href="{{ path('voir-cde-admin',{'statut': 'commandesArchivee' }) }}">
                        {% endif %}
                        <h5 class="card-text">nombre de commande(s): {{ commandesArchivee|length }}</h5>
                        {% if commandesArchivee|length!=0 %}
                        </a>
                        {% endif %}
                    </div>
             </div>
        </div>
        <!--//***********row******************-->

    </div><!--fin container***********************************-->

    <script type="text/javascript">
        setInterval( Raffraichir(), 10000);
        // Wrap every letter in a span
        var textWrapper = document.querySelector('.ml1 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({loop: true})
            .add({
                targets: '.ml1 .letter',
                scale: [0.3,1],
                opacity: [0,1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 600,
                delay: (el, i) => 70 * (i+1)
            }).add({
            targets: '.ml1 .line',
            scaleX: [0,1],
            opacity: [0.5,1],
            easing: "easeOutExpo",
            duration: 700,
            offset: '-=875',
            delay: (el, i, l) => 80 * (l - i)
        }).add({
            targets: '.ml1',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });
        function Raffraichir() {
            setTimeout(function(){window.location.href="http://localhost/seatrader-appli/public/profile/home/connected";},20000);
        }
    </script>
{% endblock %}