
{% extends 'baseUser.html.twig' %}

{% block title %}Commande |{{ parent() }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/ajouterProduits.css') }}">
 {% endblock %}

{% block main %}
    <div class="container marge-container">
    <div class="row">
        <div class="col-xl-3 justify-content-center mt-5">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Passez vos commandes avant 11h</div>
                <div class="card-body">
                    <p class="card-title">Jour de commande->Jour de livraison</p>
                    <p class="card-text">Lun->Mar Mar->Mer Mer->Jeu Ven->Sam</p>
                </div>
            </div>

        </div>


        <div class="col-xl-9 justify-content-center titre">
            <div>
                <div>
                    <h3>Commande {% if cde!=null %}{{ cde.id }}{% for fg in cde.object %}{{ fg.nomProduit }}--quantite:{{ fg.quantite }}{% endfor %}{% endif %}<i class="fas fa-fish"></i></h3>
                    {{ form_start(commandeForm, { 'attr' : { 'style': '', 'class': 'caseForm' } }) }}
                    sélectionnez le jour de la livraison:
                    {{ form_widget(commandeForm.jourDeLivraison) }}
                    note: {{ form_widget(commandeForm.note) }}
                    {# read and display all flash messages #}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="text-warning">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </div>
        <!--//*****************************-->
        <div class="row col-xl-12 justify-content-around mt-4 rounded">
            <table class="table table-striped table-secondary rounded">
                {% set clr=1 %}
                {%  for famille in familleProduit %}
                    <thead >
                    <tr class="bg-white mt-3">
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <thead>
                    {% if clr==1 %}<tr class="bg-warning mt-1">{% set clr=2 %}{% elseif clr==2 %}<tr class="bg-primary mt-1">{% set clr=3 %}{% elseif clr==3 %}<tr class="bg-success mt-1">{% set clr=1 %}{% endif %}
                        <th scope="col">famille</th>
                        <th scope="col"></th>
                        <th scope="col"><h4 class="text-left text-dark">{{ famille.nomFamille }}</h4></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Produit</th>
                        <th scope="col">Unité</th>
                        <th scope="col">quantité(colis)</th>

                    </tr>
                    </thead>
                    {%  for prod in produits %}
                        {% if famille.nomFamille==prod.famille %}
                            <tbody>
                            <tr>
                                <th>{{ prod.id }}</th>
                                <td>{{ prod.nomProduit }}</td>
                                <td>{{ prod.pieceOuKg }}</td>
                                <td><label for="prod{{ prod.id }}">quantité:</label><input name="prod{{ prod.id }}" type="number" size="3" min="0" max="999" value="{{ prod.quantite }}"></td>
                            </tr>
                            </tbody>

                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        <button class="btn btn-outline-primary" type="submit">Enregistrer ma Commande</button>
        {{ form_end(commandeForm) }}

    </div><!--fin de container-->
    <div>
        <br>
        <a class="btn btn-secondary" href=javascript:history.go(-1)>Annuler</a>
    </div>
{% endblock %}