
{% extends 'baseUser.html.twig' %}

{% block title %}Commande |{{ parent() }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/ajouterProduits.css') }}">
 {% endblock %}

{% block main %}
    {% if is_granted('ROLE_USER') %}
    <div class="container marge-container">
    <div class="row">
        <div class="col-xl-3 justify-content-center mt-5">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Passez vos commandes avant 11h</div>
                <div class="card-body">
                    <p class="card-title">Jour de commande->Jour de livraison</p>
                    <p class="card-text">Lun->Mar Mar->Mer Mer->Jeu Ven->Sam</p>
                </div>
            </div>

        </div>


        <div class="col-xl-9 justify-content-center titre">
            <div>
                <div>
                    <h3>Commande<i class="fas fa-fish"></i></h3>
                    {{ form_start(commandeForm, { 'attr' : { 'style': '', 'class': 'caseForm' } }) }}
                    sélectionnez le jour de la livraison:
                    {{ form_widget(commandeForm.jourDeLivraison,{'attr' :{'onchange': 'funcTodey()'}}) }}

                    {# read and display all flash messages #}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="text-warning">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </div>
        <!--//*****************************-->
        <div class="row col-xl-12 justify-content-around mt-4 rounded">
            <table class="table table-striped table-secondary rounded">
                {% set clr=1 %}
                {%  for famille in familleProduit %}
                    <thead >
                    <tr class="bg-white mt-3">
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <thead>
                    {% if clr==1 %}<tr class="bg-warning mt-1">{% set clr=2 %}{% elseif clr==2 %}<tr class="bg-primary mt-1">{% set clr=3 %}{% elseif clr==3 %}<tr class="bg-success mt-1">{% set clr=1 %}{% endif %}
                        <th scope="col">famille</th>
                        <th scope="col"></th>
                        <th scope="col"><h4 class="text-left text-dark">{{ famille.nomFamille }}</h4></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Produit</th>
                        <th scope="col">Photos</th>
                        <th scope="col">Unité</th>
                        <th scope="col"></th>
                        <th scope="col">quantité(colis)</th>

                    </tr>
                    </thead>

                    {%  for prod in produits %}
                        {% if famille.nomFamille==prod.famille %}
                            <tbody>
                            <tr>
                                <th>{{ prod.id }}</th>
                                <td>{{ prod.nomProduit }}</td>
                                <td><button type="button" class="btn btn-primary p-1 m-1" data-toggle="modal" data-target="#detail{{ prod.id }}">Détails<i class="fas fa-camera"></i></button></td>
                                <!--****************************************************************************************************************************-->
                                <!-- Modal détail-Produit-->
                                <div class="modal fade bgFondModal"  id="detail{{ prod.id }}" tabindex="-1" role="dialog" aria-labelledby="detLabel{{ prod.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header formulaireBlue">
                                                {% if prod.brochureFilename!=null %}
                                                    <img style="width: 270px; height: 150px" class="m-0 p-0" src="{{ asset('uploads/brochures/' ~ prod.brochureFilename) }}" alt="photo du produit">
                                                {% else %}
                                                    <img style="width: 260px; height: 144px" class="m-0 p-0" src="{{ asset('assets/images/slide-01.jpg') }}" alt="photo banc de poissons">
                                                {% endif %}
                                                <h5 class="modal-title text-light" id="detLabel{{ prod.id }}" >Détails Produit: {{ prod.nomProduit }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h4 class="text-primary">unité: {{ prod.pieceOuKg }}</h4>
                                                <h4 class="text-primary">famille: {{ prod.famille }}</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--****************************************************************************************************************************-->
                                <td>{{ prod.pieceOuKg }}</td>
                                <td>
                                    {% for miseav in miseEnAvant %}
{% if (miseav.dateLivraisonMiseEnAvant|date("d/m/Y"))==(dateTodey|date("d/m/Y")) and miseav.produitMiseEnAvant.nomProduit==prod.nomProduit %}

    {% if miseav.raison=="PAVILLON FRANCE" %}<h5 style="background: linear-gradient(to left,blue, white,red);">
                                        {% else %}<h5 style="background-color: {{ miseav.couleur }};">{% endif %}{{ miseav.prix }}€/{{ prod.pieceOuKg }} {{ miseav.raison}} colis de{{ miseav.colisage }}{{ prod.pieceOuKg }}</h5>{% endif %}
                                    {% endfor %}
                                </td>

                                <td><label for="prod{{ prod.id }}">quantité:</label><input id="prod{{ prod.id }}" name="prod{{ prod.id }}" type="number" size="3" min="0" max="999" value="{{ prod.quantite }}"></td>
                            </tr>
                            </tbody>

                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        <div class="row col-xl-12">
        {{ form_widget(commandeForm.note,{'value': 'message à remplir juste avant de clicker sur enregister et envoyer (impératif).'}) }}
        </div>
        <div class="row col-xl-12 mt-2">
        <button class="btn btn-outline-primary" type="submit">Enregistrer et Envoyer ma Commande</button>
        {{ form_end(commandeForm) }}
        </div>
    </div>{# <!--fin de container-->#}
    <div>
        <br>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-secondary" href=javascript:history.go(-1)>Retour</a>
        {% elseif is_granted('ROLE_USER') %}
        <a class="btn btn-secondary" href="{{ path('voir_cde' ) }}">Annuler</a>
        {% endif %}

    </div>
    <script>
        function funcTodey() {
            document.commande.submit();
        }
    </script>
    {% endif %}
{% endblock %}