{% extends 'baseUser.html.twig' %}

{% block title %}Commandes |{{ parent() }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/ajouterProduits.css') }}">
 {% endblock %}

{% block main %}
    {% if is_granted('ROLE_USER') %}
    <div class="container marge-container">
        <div class=row">
            <div class="col-xl-12 justify-content-center titre">
                <div>
                    <h3 class="">Mes Commandes<i class="fas fa-fish"></i></h3>
                    {# read and display all flash messages #}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="text-warning">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-12 justify-content-center">
                <table class="table table-striped table-secondary">
                    <thead class="bg-primary">
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col"></th>
                        <th scope="col">Date de livraison</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Ligne(s)</th>
                        <th scope="col">Colis</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--//************************cde  jour+1 apres11h juste à voir-->
                    {% for cdeAJ in commandeEncoreModifiable %}
                        <tr class="bg-warning">
                            <th scope="row">{{ cdeAJ.id }}</th>
                            <td scope="col">{{ cdeAJ.utilisateur.nom }}-{{ cdeAJ.utilisateur.nomDeLaSociete }}</td>
                            <td>{{ cdeAJ.jourDeLivraison |date('d/m/Y') }}</td>
                            <td>{{ cdeAJ.dateCreationCommande |date('d/m/Y') }}</td>
                            <td>{{  cdeAJ.etatCommande }}</td>
                            {% set nbreLigne=0 %}{% set nbreColis=0 %}
                            {% for ligne in cdeAJ.object %}
                                {% if ligne.quantite>0 %} {% set nbreLigne=nbreLigne+1 %} {% set nbreColis=nbreColis+ligne.quantite %}{% endif %}
                            {% endfor %}
                            <td>{{ nbreLigne }}</td>
                            <td>{{ nbreColis }}</td>
                            <td><a class="btn btn-primary" data-toggle="modal" data-target="#SupprCde{{ cdeAJ.id }}" ><i class="fas fa-trash-alt"></i></a></td>
                            <td><a class="btn btn-primary" href="{{ path('modifier-cde',{'id': cdeAJ.id }) }}">modifier</a></td>

                            <!--****************************************************************************************-->
                            <!-- Modal supprimer cde-->
                            <div class="modal fade bgFondModal"  id="SupprCde{{ cdeAJ.id }}" tabindex="-1" role="dialog" aria-labelledby="SupprCdeLabel{{ cdeAJ.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header formulaireBlue">
                                            <h5 class="modal-title text-light" id="detLabel{{ cdeAJ.id }}" >Voulez-vous vraiment supprimer cette commande ?</h5>
                                            <h5 class="modal-title text-light">N°{{ cdeAJ.id }}-livraison le {{ cdeAJ.jourDeLivraison |date('d/m/Y') }}</h5>
                                            <p></p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <a  class="btn btn-secondary" href="{{ path('supprimer-cde',{'id': cdeAJ.id }) }}">Supprimer</a>{# </button>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--****************************************************************************************************************************-->

                        </tr>

                    {% endfor %}
                    <!--//************************ fin cde apres jour-->
                    <!--***************************************************************-->
                    <!--//************************cde apres jour modifiable supprimable-->
                    {% for cdeAJ in commandeApresJour %}
                        <tr class="bg-success">
                            <th scope="row">{{ cdeAJ.id }}</th>
                            <td scope="col">{{ cdeAJ.utilisateur.nom }}-{{ cdeAJ.utilisateur.nomDeLaSociete }}</td>
                            <td>{{ cdeAJ.jourDeLivraison |date('d/m/Y') }}</td>
                            <td>{{ cdeAJ.dateCreationCommande |date('d/m/Y') }}</td>
                            <td>{{  cdeAJ.etatCommande }}</td>
                            {% set nbreLigne=0 %}{% set nbreColis=0 %}
                            {% for ligne in cdeAJ.object %}
                                {% if ligne.quantite>0 %} {% set nbreLigne=nbreLigne+1 %} {% set nbreColis=nbreColis+ligne.quantite %}{% endif %}
                            {% endfor %}
                            <td>{{ nbreLigne }}</td>
                            <td>{{ nbreColis }}</td>
                            <td><a class="btn btn-primary" data-toggle="modal" data-target="#SupprCde{{ cdeAJ.id }}" ><i class="fas fa-trash-alt"></i></a></td>
                            <td><a class="btn btn-primary" href="{{ path('modifier-cde',{'id': cdeAJ.id }) }}">modifier</a></td>

                            <!--****************************************************************************************-->
                            <!-- Modal supprimer cde-->
                            <div class="modal fade bgFondModal"  id="SupprCde{{ cdeAJ.id }}" tabindex="-1" role="dialog" aria-labelledby="SupprCdeLabel{{ cdeAJ.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header formulaireBlue">
                                            <h5 class="modal-title text-light" id="detLabel{{ cdeAJ.id }}" >Voulez-vous vraiment supprimer cette commande ?</h5>
                                            <h5 class="modal-title text-light">N°{{ cdeAJ.id }}-livraison le {{ cdeAJ.jourDeLivraison |date('d/m/Y') }}</h5>
                                            <p></p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <a  class="btn btn-secondary" href="{{ path('supprimer-cde',{'id': cdeAJ.id }) }}">Supprimer</a>{# </button>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--****************************************************************************************************************************-->

                        </tr>

                    {% endfor %}
                    <!--//************************ fin cde apres jour modifiable supprimable-->
                    <!--//************************cde avant jour juste à voir-->
                    {% for cdeAJ in commandeAvantJour %}
                        <tr>
                            <th scope="row">{{ cdeAJ.id }}</th>
                            <td scope="col">{{ cdeAJ.utilisateur.nom }}-{{ cdeAJ.utilisateur.nomDeLaSociete }}</td>
                            <td>{{ cdeAJ.jourDeLivraison |date('d/m/Y') }}</td>
                            <td>{{ cdeAJ.dateCreationCommande |date('d/m/Y') }}</td>
                            <td>{{  cdeAJ.etatCommande }}</td>
                            {% set nbreLigne=0 %}{% set nbreColis=0 %}
                            {% for ligne in cdeAJ.object %}
                                {% if ligne.quantite>0 %} {% set nbreLigne=nbreLigne+1 %} {% set nbreColis=nbreColis+ligne.quantite %}{% endif %}
                            {% endfor %}
                            <td>{{ nbreLigne }}</td>
                            <td>{{ nbreColis }}</td>
                            <td><button type="button" class="btn btn-primary p-1 m-1" data-toggle="modal" data-target="#detailCde{{ cdeAJ.id }}">voir</button></td>
                            <!--****************************************************************************************-->
                            <!-- Modal détail-commande-->
                            <div class="modal fade bgFondModal"  id="detailCde{{ cdeAJ.id }}" tabindex="-1" role="dialog" aria-labelledby="detailCdeLabel{{ cdeAJ.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header formulaireBlue">
                                            <h5 class="modal-title text-light" id="detLabel{{ cdeAJ.id }}" >Commande à livrer le {{ cdeAJ.jourDeLivraison |date('d/m/Y') }}</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" class="text-white">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% for ligne in cdeAJ.object %}
                                                {% if ligne.quantite>0 %}
                                                <h6 class="text-white bg-primary">{{ ligne.nomProduit }}_____quantité en colis:{{ ligne.quantite }}</h6>
                                                <hr>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--****************************************************************************************************************************-->
                            <td>-</td>

                        </tr>

                    {% endfor %}
                    <!--//************************fin cde avant jour juste à voir-->
                    <!--***************************************************************-->
                    <!--//************************cde  jour+1 apres11h juste à voir-->
                    {% for cdeAJ in commandeNonModifiable %}
                        <tr>
                            <th scope="row">{{ cdeAJ.id }}</th>
                            <td scope="col">{{ cdeAJ.utilisateur.nom }}-{{ cdeAJ.utilisateur.nomDeLaSociete }}</td>
                            <td>{{ cdeAJ.jourDeLivraison |date('d/m/Y') }}</td>
                            <td>{{ cdeAJ.dateCreationCommande |date('d/m/Y') }}</td>
                            <td>{{  cdeAJ.etatCommande }}</td>
                            {% set nbreLigne=0 %}{% set nbreColis=0 %}
                            {% for ligne in cdeAJ.object %}
                                {% if ligne.quantite>0 %} {% set nbreLigne=nbreLigne+1 %} {% set nbreColis=nbreColis+ligne.quantite %}{% endif %}
                            {% endfor %}
                            <td>{{ nbreLigne }}</td>
                            <td>{{ nbreColis }}</td>
                            <td><button type="button" class="btn btn-primary p-1 m-1" data-toggle="modal" data-target="#detailCde{{ cdeAJ.id }}">voir</button></td>
                            <!--****************************************************************************************-->
                            <!-- Modal détail-commande-->
                            <div class="modal fade bgFondModal"  id="detailCde{{ cdeAJ.id }}" tabindex="-1" role="dialog" aria-labelledby="detailCdeLabel{{ cdeAJ.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header formulaireBlue">
                                            <h5 class="modal-title text-light" id="detLabel{{ cdeAJ.id }}" >Commande à livrer le {{ cdeAJ.jourDeLivraison |date('d/m/Y') }}</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" class="text-white">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% for ligne in cdeAJ.object %}
                                                {% if ligne.quantite>0 %}
                                                <h6 class="text-white bg-primary">{{ ligne.nomProduit }}_____quantité en colis:{{ ligne.quantite }}</h6>
                                                <hr>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--****************************************************************************************************************************-->
                            <td>-</td>

                        </tr>

                    {% endfor %}
                    <!--//************************fin cde  jour+1 apres11h  juste à voir-->


                    </tbody>
                </table>

            </div>


        </div>
        <!--//*****************************-->
    </div><!--fin container***********************************-->
    <script type="text/javascript">
        setInterval( Raffraichir(), 10000);
        function Raffraichir() {
            setTimeout(function(){window.location.href="http://localhost/seatrader-appli/public/profile/commande/cde";},20000);
        }
    </script>
    {% endif %}
{% endblock %}