{% extends 'baseUser.html.twig' %}

{% block title %}Commandes |{{ parent() }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/ajouterProduits.css') }}">
 {% endblock %}

{% block main %}
    <div class="container marge-container">
        <div class=row">
            <div class="col-xl-12 justify-content-center titre">
                <div>
                    <h3 class="">Les Commandes des clients<i class="fas fa-fish"></i></h3>
                    <h4>STATUT: {{ statut }}</h4>
                    {# read and display all flash messages #}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="text-warning">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-12 justify-content-center">
                <table class="table table-striped table-secondary">
                    <thead class="bg-warning">
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col"></th>
                        <th scope="col">Date de livraison</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Ligne(s)</th>
                        <th scope="col">Colis</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>



                    <!--//************************cde apres jour modifiable supprimable-->
                    {% for cdeAJ in cde %}
                        <tr>
                            <th scope="row">{{ cdeAJ.id }}</th>
                            <td scope="col">{{ cdeAJ.utilisateur.nom }}-{{ cdeAJ.utilisateur.nomDeLaSociete }}</td>
                            <td>{{ cdeAJ.jourDeLivraison |date('d/m/Y') }}</td>
                            <td>{{ cdeAJ.dateCreationCommande |date('d/m/Y') }}</td>
                            <td>{{  cdeAJ.etatCommande }}</td>
                            {% set nbreLigne=0 %}{% set nbreColis=0 %}
                            {% for ligne in cdeAJ.object %}
                                {% if ligne.quantite>0 %} {% set nbreLigne=nbreLigne+1 %} {% set nbreColis=nbreColis+ligne.quantite %}{% endif %}
                            {% endfor %}
                            <td>{{ nbreLigne }}</td>
                            <td>{{ nbreColis }}</td>
                            <td><a class="btn btn-primary" data-toggle="modal" data-target="#SupprCde{{ cdeAJ.id }}" ><i class="fas fa-trash-alt"></i></a></td>
                            <td>{% if cdeAJ.jourDeLivraison|date('d/m/Y')>dateToday|date('d/m/Y') %} <a class="btn btn-primary" href="{{ path('modifier-cde',{'id': cdeAJ.id }) }}">modifier</a>{% endif %}</td>

                            <!--****************************************************************************************-->
                            <!-- Modal supprimer cde-->
                            <div class="modal fade bgFondModal"  id="SupprCde{{ cdeAJ.id }}" tabindex="-1" role="dialog" aria-labelledby="SupprCdeLabel{{ cdeAJ.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header formulaireBlue">
                                            <h5 class="modal-title text-light" id="detLabel{{ cdeAJ.id }}" >Voulez-vous vraiment supprimer cette commande ?</h5>
                                            <h5 class="modal-title text-light">N°{{ cdeAJ.id }}-livraison le {{ cdeAJ.jourDeLivraison |date('d/m/Y') }}</h5>
                                            <p></p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <a  class="btn btn-secondary" href="{{ path('supprimer-cde',{'id': cdeAJ.id }) }}">Supprimer</a>{# </button>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--****************************************************************************************************************************-->

                        </tr>

                    {% endfor %}
                    <!--//************************ fin cde apres jour-->
                    </tbody>
                </table>

            </div>


        </div>
        <!--//*****************************-->
    </div><!--fin container***********************************-->
{% endblock %}