{% extends 'baseAdmin.html.twig' %}

{% block title %}Mises en Avant |{{ parent() }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/ajouterProduits.css') }}">
 {% endblock %}

{% block main %}
{% if is_granted('ROLE_ADMIN') %}
    <div class="container marge-container">
        <div class=row">
            <div class="col-xl-12 justify-content-center titre">
                <div>
                    <h3 class="">Créer des mises en avant des opportunités<i class="fas fa-fish"></i></h3>
                </div>
            </div>
        </div>
        <!--//*****************************-->

        <!--*****fin row*********************-->
        <!--//*****************************-->
        <div class="row col-xl-12 justify-content-around">
            {%  for miseEa in miseEnAvant %}
                <div  class="card-miseEn-Avant" >
                    {% if miseEa.raison.raison=="PAVILLON FRANCE" %}<div style="background: linear-gradient(to left,blue, white,red);">{% else %}<div style="background-color: {{ miseEa.couleur }}">{% endif %}
                            <h4 class="raison" >{{ miseEa.raison.raison }}</h4>
                    </div>
                    <div class="leproduit">
                        {# <img src="{{ asset('assets/images/imageProduit/filet-cabillaud.jpg') }}" alt="cabillaud filet">#}
                        <img style="width: 260px; height: 144px" src="{{ asset('uploads/brochures/' ~ miseEa.produitMiseEnAvant.brochureFilename) }}" alt="photo du produit">

                    </div>
                    <p class="livraisonProduit">livraison prévue le {{ miseEa.dateLivraisonMiseEnAvant |date('d-m-Y') }}</p>
                    <div class="align-items-center">
                        <h4 class="prix" >prix: {{ miseEa.prix }} €/kg</h4>
                    </div>
                    <h3 class="text-center">{{ miseEa.produitMiseEnAvant.nomProduit }}</h3>
                    <p class="text-center">{{ miseEa.origine }}</p>
                    <p class="text-center">colis par {{ miseEa.colisage }} {{ miseEa.produitMiseEnAvant.pieceOuKg }}</p>
                </div>
            {% endfor %}
            <div class="justify-content-center col-xl-12"><h6>Mise(s) en Avant affichée(s) la plus récente(s) ou en cours</h6></div>


        </div>
        <!--*****fin row*********************-->
        <!--//*****************************-->
        <!--//*****************************-->
        <div class="row">


            <div class="col-xl-12 justify-content-center p-2 titre">
                <div>
                    <h4 class="">Sélectionnez le jour de livraison<i class="fas fa-fish"></i></h4>
                    {{ form_start(miseEnAvantForm, { 'attr' : { 'style': '', 'class': 'caseForm' } }) }}
                    {{ form_help(miseEnAvantForm.dateLivraisonMiseEnAvant) }}{{ form_errors(miseEnAvantForm.dateLivraisonMiseEnAvant) }}
                    {{ form_label(miseEnAvantForm.dateLivraisonMiseEnAvant) }}: {{ form_widget(miseEnAvantForm.dateLivraisonMiseEnAvant) }}
                </div>
            </div><!--fin colonne*************-->
        </div>
        <!--*****fin row*********************-->
        <div class="row">


            <div class="col-xl-12 justify-content-center titre">
                <div>
                    <h4 class="">Sélectionnez le produit, le prix, le thème, la couleur<i class="fas fa-fish"></i></h4>
                    <!--//***********formulaire prduit prix slogan couleur
                    // bouton voir le rendu-->
                    <div>
                    {{ form_help(miseEnAvantForm.produitMiseEnAvant) }}{{ form_errors(miseEnAvantForm.produitMiseEnAvant) }}
                    {{ form_label(miseEnAvantForm.produitMiseEnAvant) }}: {{ form_widget(miseEnAvantForm.produitMiseEnAvant) }}
                    </div>
                    <div>
                    {{ form_help(miseEnAvantForm.origine) }}{{ form_errors(miseEnAvantForm.origine) }}
                    {{ form_label(miseEnAvantForm.origine) }}: {{ form_widget(miseEnAvantForm.origine) }}

                    {{ form_help(miseEnAvantForm.colisage) }}{{ form_errors(miseEnAvantForm.colisage) }}
                    {{ form_label(miseEnAvantForm.colisage) }}: {{ form_widget(miseEnAvantForm.colisage) }}
                    </div>
                    <div>
                    {{ form_help(miseEnAvantForm.prix) }}{{ form_errors(miseEnAvantForm.prix) }}
                    {{ form_label(miseEnAvantForm.prix) }}: {{ form_widget(miseEnAvantForm.prix) }}

                    {{ form_help(miseEnAvantForm.raison) }}{{ form_errors(miseEnAvantForm.raison) }}
                    Thème: {{ form_widget(miseEnAvantForm.raison) }}
                    </div>
                    <div>
                    {{ form_help(miseEnAvantForm.couleur) }}{{ form_errors(miseEnAvantForm.couleur) }}
                    {{ form_label(miseEnAvantForm.couleur) }}: {{ form_widget(miseEnAvantForm.couleur) }}

                    <button class="btn-grad" type="submit">voir</button>
                    {{ form_end(miseEnAvantForm) }}
                    </div>
                </div>
            </div><!--fin colonne*************-->
        </div>
        <!--*****fin row*********************-->
        <!--//*****************************-->
        <div class="row">


            <div class="col-xl-12 justify-content-center ">
                <div>

                </div>
            </div><!--fin colonne*************-->
        </div>
        <!--*****fin row*********************-->

    </div><!--fin de container-->
    {% endif %}
{% endblock %}
