{% extends 'base.html.twig' %}

{% block title %}IDENTIFICATION|{{ parent() }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
 {% endblock %}

{% block header %}
    <a href="{{ path('home') }}" class="logo">
        <h3 class="back-css" ><i class="far fa-arrow-alt-circle-left"></i></h3>
        <!--retour home-->
    </a>
{% endblock %}
{% block main %}
    <div class="container" >
        <div class="row">
            <div class="col-xl-7  mx-auto" >
                <div class="card card-signin my-5 fondContainer">
                    <div class="card-body">
                        <a href="{{ path('home') }}" class="logo">
                            <h3 class="titrelogoseatrader" ><i class="fas fa-water logoseatrader" ></i>SEATRADER</h3>
                            <!--logo seatrader-->
                        </a>
                        <h5 class="card-title text-center">Identification</h5>
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="flash flash-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="form-signin">
                            <div class="form-label-group">
                                {# read and display all flash messages #}
                                {% for label, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="bg-danger text-danger">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {{ form_start(identificationForm, { 'attr' : { 'style': '', 'class': 'caseForm bgjaune' } }) }}
                                {{ form_widget(identificationForm.nomDeLaSociete,{'attr':{'class':'form-control bg-input', 'placeholder':'Nom de la société identifiant', 'autofocus':'true' }}) }}
                            </div>
                            {# <div class="checkbox mb-3 custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" name="_remember_me">
                                <label class="custom-control-label" for="customCheck1">Se souvenir de moi</label>
                            </div>#}
                            <button class="btn btn-lg btn-light btn-block text-uppercase" type="submit">valider</button>
                            {{ form_end(identificationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
