{% extends 'baseEmail.html.twig' %}

{% block title %}SEATRADER-APPLI{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/ajouterProduits.css') }}">
 {% endblock %}

{% block main %}

    <div class="container marge-container">
        <div class=row">
            <div class="col-xl-12 justify-content-center titre">
                <div>
                    <h2 style="color: red;">SEATRADER: commerce de gros de produits de la mer frais&surgelés</h2>
                    <img  src="https://www.seatrader.eu/assets/images/seatraderLOGOsmall.png" alt="banc de poisson">
                    <h2><a href="mailto: contact@seatrader.eu" id="mymail" target="_blank">Pour nous contacter cliquer ici: contact@seatrader.eu<i class="fas fa-envelope-square turn"></i></a></h2>
                    <h2 class="mt-3 mt-6 text-danger">
                        DE LA MER A CHEZ VOUS...
                    </h2>
                    <img style="width: 300px; height: 200px;" src="https://www.seatrader.eu/assets/images/slide-01.jpg" alt="banc de poisson">
                    <h2>NOUVEAU MESSAGE: commande reçue...</h2>
                    <h3>{{ message }} : {{ nom2 }} ( {{ nom }} ).</h3>
                    <h3>l' identifiant est : {{ nom2 }}</h3>
                    <h3>numéro de téléphone est : {{ numero }}</h3>
                    <h3>La commande: </h3>

                    <h6 style="color: purple;">
                        {% for ligne in commande.object %}
                            {% if ligne.quantite>0 %}
                                {{ ligne.nomProduit }}_____quantité en colis:{{ ligne.quantite }}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </h6>


                </div>
            </div>
        </div>
    </div>

{% endblock %}