{% extends 'baseEmail.html.twig' %}

{% block title %}SEATRADER-APPLI{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/ajouterProduits.css') }}">
 {% endblock %}

{% block main %}

    <div class="container marge-container">
        <div class=row">
            <div class="col-xl-12 justify-content-center titre">
                <div>
                    <h1 class="text-primary">SEATRADER mail: contact@seatrader.eu</h1>

                    <h2 class="mt-3 mt-6 text-danger">
                        DE LA MER A CHEZ VOUS...
                    </h2>
                    <h3>{{ nom }} vous a contacté par le biais du formulaire de contacts de votre site.</h3>
                    <h3>Son email est : {{ from }}</h3>
                    <h3>Son numéro de téléphone est : {{ number }}</h3>
                    <h3>Son message: </h3>
                    <h3 class="text-primary">
                        {{ message }}
                    </h3>

                    {# <img style="width: 301px; height: 165px" src="http://seatrader.eu/assets/images/slide-03.jpg') }}" alt="photo banc de poissons" CLASS="mt-5 mb-5">#}

                </div>
            </div>
        </div>
    </div>

{% endblock %}